After every answer sentence, include a document id '<id>' token for the corresponding context document. If no context document was used to base the sentencem, use the '<?>' token. 

Task:

{{ task }}

Answer only using the provided context:

{{ context }}
